@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

 /* .container{
    margin: 5% 0 0 40%;
    position: relative;
    width: 30%;
}
img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 2%;
}
.overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.66);
    bottom: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 2%;
}
.container:hover .overlay{
    height: 100%;
    transition: 0.7s;
}

h2{
    color: aliceblue;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 40%;
    text-align: center;
}

h3{
    color: rgb(206, 200, 200);
    text-align: center;
    font-size: 17px;
}  */

.container {
    width: 40%;
    position: relative;
    margin: 5% 0 0 35%;
}

img {
    width: 60%; 
    height: 500px;
    display: block;
}

.overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    height: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: 0.6s ease;
    width: 60%;  /* same as width of image*/
}

.container:hover .overlay{
    height: 99%;
    bottom: 0;
}

h2{
    color: aliceblue;
    text-align: center;
    margin-top: 40%;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
h3{
    color: rgb(226, 226, 226);
    text-align: center;
    margin-top: 8%;
}