@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Lille Baskerville', sans-serif;
}

:root {
    --kalo: #2c2828;
    --seto: #f8f8ff;
    --rato: #f44336;
    --payelo: #d9bb44;
}

.section1 {
    background: url(header-bg.png);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-position: center;

}


nav {
    margin-left: 150px;
    margin-right: 150px;
}

.navbar {
    display: flex;
    justify-content: space-between;

}

ul li {
    list-style-type: none;
}


nav h1,
ul li {
    text-transform: uppercase;
    color: var(--seto);
    cursor: pointer;
}

.navitems li {
    display: inline;
    padding: 10px 15px;
    letter-spacing: 1px;
    font-weight: 500;
  
}

.navitems li:not(.contact-btn):hover{
    color: rgb(246, 63, 93);
}
.navitems .contact-btn{
    background-color:rgb(246, 63, 93);
    color: white;
    border-radius: 10px;
}

.navitems .contact-btn:hover{
    background-color: var(--seto);
    color: rgb(246, 63, 93);
    transition: 0.3s ease-in-out;
}
.body1 {
    color: var(--seto);
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: capitalize;
    transform: translate(-50%, -50%);
}

.body1 h1 {
    margin-top: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    
    /* right: 40px;
position: relative; */
}

.body1 h3 {
    text-align: center;
}

.body1 h3 span {
    border-bottom: 5px solid rgb(246, 63, 93);
}

.body1 button{
    padding: 6px;
    /* margin-top: 10px; */
    margin: 20px 0 0 130px;
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 10px;
    outline: none;
    border: 0;
    cursor: pointer;
}

.body1 button:hover {
    background: rgb(246, 63, 93);
    transition: 0.3s ease-in-out;
}




/***************** section2 *******************/
.section2{
    margin-left: 150px;
    margin-right: 150px;
}

.section2 img{
    height: 200px;
    width: 300px;
}

.main2{
    display: flex;
    justify-content: space-between;
}

.sec2-a, .sec2-b, .sec2-c{
    border: 2px solid red;
    width: 305px;
    height: 330px;
    text-align: justify;
    font-size: smaller;
}

.main2 button{
    position: relative;
    left: 35%;
    top: 7%;
    padding: 5px 10px;
    background-color:rgb(246, 63, 93);
    color: white;
    border-radius: 10px;
    outline: none;
    border: 0;
    cursor: pointer;
    text-transform: capitalize;
}

.main2 button:hover {
    background-color: var(--seto);
    color: rgb(246, 63, 93);
    transition: 0.3s ease-in-out;
}
