@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --kalo: #2c2828;
    --seto: #f8f8ff;
    --rato: #f44336;
    --payelo: #d9bb44;
}

html{
    scroll-behavior: smooth;
}
.main1{
    margin: 0 300px 0 300px;
}

.main2, .main4 {
    margin: 40px 300px 0 300px;
}

.container {
    background: url(shipinocean.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.nav-div {
    display: flex;
    justify-content: space-between;
    /* position: sticky; */
}

nav ul li {

    display: inline-block;
    margin: 2px -10px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 10px 17px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    /* border: 2px solid black; */
    padding: 9px 9px;
    border-radius: 3px;
}

li a:hover {
    background: var(--kalo);

    /* background: rgba(129, 204, 214, 0.436); */
    color: var(--seto);
    transition: 0.4s;

}

.pointer {
    cursor: pointer;
}

/*-------------------inside body 1---------------------*/


.body1 {
    font-size: 30px;
    margin-top: 8rem;

}

.body1 h1 {
    font-family: "Protest Guerrilla", sans-serif;
    letter-spacing: 3px;
}

.body1span {
    display: block;
    font-family: "Protest Guerrilla", sans-serif;

}

.body1 p {
    font-size: 16px;
    margin-top: 15px;
    width: 30%;
}

.btn1 {
    padding: 15px;
    margin-top: 30px;
    background: var(--kalo);
    color: var(--seto);
    outline: none;
    border: 0;
    border-radius: 6px;


}

.btn1:hover {
    box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}


/*-------------------inside body 2---------------------*/

.body2 {
    margin-top: 50px;
    text-transform: capitalize;

}

.body2span,.body3span {
    display: block;
}

.body2 i {
    text-align: center;
    font-size: 30px;

}

.icon-section {
    margin-top: 30px;
    border: 1px solid rgb(230, 233, 230);
    padding: 30px;
    text-align: center;
    outline: none;
}

.icon-section:hover {
    background: rgb(249, 245, 245);
    box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
   
}

.body2icons {
    display: flex;
    justify-content: space-between;

}

.smalltext {
    font-size: 12px;
}


/*-------------------inside body 3---------------------*/

.main3{
    margin: 40px 300px 0 300px;
}
.main3 h3{
    text-align: center;
}
.main3 img{
    height: 200px;
    width: 190px;
    margin-left: 20px;
}
.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.cards img{
    border-radius: 5px;
}





/*-------------------------*/



.cards1-main3{
    width: 40%;
    position: relative;
}
.nepal{
    width: 81.5%;
    height: 300px;
    display: block;

}
.overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    height: 0;
    bottom: 1px;
    left: 20px;
    overflow: hidden;
    transition: 0.6s ease;
    width: 81.5%;
}
.cards1-main3:hover .overlay{
    height: 100%;
    border-radius: 5px;
}

.cards h2{
    color: aliceblue;
    text-align: center;
    margin-top: 40%;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
/*----------- inside body  4-------------*/
.body4span{
display: block;
}
.main4 h2{
    text-align: center;
}


.main4 img{
    height: 200px;
    width: 190px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 5px;
}

.card2{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

/*----------- cards overlay --------------------*/

.cards2-main4{
    width: 40%;
    position: relative;
    overflow: hidden;
}
.london{
    width: 81.5%;
    height: 300px;
    display: block;

}
.overlay-main4{
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    height: 0;
    bottom: 0;
    left: 20px;
    overflow: hidden;
    transition: 0.6s ease;
    width: 81.5% ;
  
    
}
.cards2-main4:hover .overlay-main4{
    height: 100%;
    border-radius: 5px;
}

.card2 h3{
    color: aliceblue;
    text-align: center;
    margin-top: 40%;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 10px;
}


 
.newsletter{
    margin: 70px 300px 20px 300px;
    display: flex;
    justify-content: space-between;
   
}


.newsletter-texts{
    width: 30%;
    text-align: justify;
}

.inputfield{
    height: 50px;
    width: 250px;
    border-radius: 10px;
}
 
.submit{
    position: absolute;
    /* align-items:  */
    right: 300px;
    padding: 16.5px 20px;
    background-color: var(--kalo);
    color: var(--seto);
    outline: none;
    border: 0;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 10px;
}
.submit:hover{
    box-shadow: 2px 2px 10px black;
    transition: 0.4s ease-out;
    cursor: pointer;
    color: white;
    outline: none;
    border: 0;
}



/*--------------footer----------------*/
footer{
    background-color: #ac73ff;
    width: 100vw;
    overflow: hidden;
    height: 400px;
}


.col1,.col2, .col3{
    /* border: 2px solid white; */
    margin: 2px;
    width: 15%;
    position: relative;
    left: 20%;
    margin-top: 100px;
    text-transform: capitalize;
    gap: 20px;
    display: grid;
}

footer{
    display: flex;
    justify-content: space-betweens;

}

.col1 span,.col2 span, .col3 span{
    border-bottom: 2px solid white;
}

footer h3{
    font-size: 15px;
}

footer h3:hover{
 color: var(--seto);
 transition: 0.3s;
}

.col4{
    /* margin: 2px; */
    width: 20%;
    position: relative;
    left: 20%;
    margin-top: 100px;
    text-transform: capitalize;
    /* gap: 20px; */
    /* display: grid; */
}
.col4 i{
    /* border: 2px solid white; */

    margin: 30px 4px 0 2px;
    font-size: 20px;
}

.col4 i:hover{
    color: var(--seto);
}

footer h2,h3,i{
    cursor: pointer;
}
.col4 span{
    border-bottom: 2px solid white;
}

.cprt{
    position: relative;
    top: 80%;
    right: 5%;
}

 

.fa-up-long{
    position: relative;
    top: 30%;
    left: 400px;
    font-size: 30px;
}

.fa-down-long{
    position: relative;
    top: 55%;
    left: 376px;
    font-size: 30px;
}